.app-layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(  --primary-gray-color-100);
}

.app-header {

}

.app-main {
    flex: 1 1;
}

.app-footer {

}