.button {
  height: 40px;
  padding: 0.75rem;
  border: none;
  min-width: 2rem;
  cursor: pointer;
  background-color: var(--primary-red-color-100);
  color: var(--primary-white-color-100);
}

.button:hover {
  transition: 0.3s;
  background-color: var(--primary-red-color-200);
}
