.card {
  display: flex;
  flex-direction: column;
  padding: 8px;
  background-color: var(--primary-gray-color-100);
  height: 400px;
  width: 400px;
}

.card__title {
  position: relative;
  top: -22px;
  margin: 0;
  padding: 0;
}

.card__description {
  font-size: 0.85rem;
}

.card__button {
  width: 130px;
}

.card__comics {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.card__comic {
  display: flex;
}

.card__comig-title {
  margin: 0;
}