.card {
  display: flex;
  flex-direction: column;
  padding: 8px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  min-height: 400px;
  width: 400px;
  gap: 16px;
}

.card__title {
  position: absolute;
  top: -24px;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1; /* Specify the desired number of lines */
  overflow: hidden;
}

.card__description {
  font-size: 0.85rem;
  margin-top: 8px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6; /* Specify the desired number of lines */
  overflow: hidden;
  flex: 1 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__button {
  width: 130px;
}

.card__comics {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.card__comic {
  display: flex;
}

.card__comig-title {
  margin: 0;
  color: var(--primary-gray-color-200);
}

.card__image {
  max-width: 194px;
  max-height: 195px;
}

.card__header {
  display: grid;
  grid-template-columns: minmax(45%, 1fr) minmax(45%, 1fr);
  gap: 10%;
}

.card__detail {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
}
