.search-input__container {
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-input {
  height: 48px;
  padding: 16px;
  border: 1px solid var(--primary-black-color-100);
  padding-right: 48px;
}

.search-input:focus {
  outline: none;
}

.search-input__glass {
  position: relative;
  width: 24px;
  height: 24px;
  left: -36px;
}
