.drop-down-container {
  min-width: 200px;
  max-width: 400px;
  position: relative;
}

.drop-down {
  width: 100%;
  height: 48px;
  border: 1px black solid;
  padding: 16px;
}

.drop-down--invisible {
  display: none;
}

.drop-down--visible {
  display: block;
}

.drop-down:focus {
  outline: none;
}

.drop-down__options,
.drop-down__options--no-match {
  list-style-type: none;
  position: absolute;
  width: 100%;
  top: 56px;
  box-shadow: -6px 15px 10px -12px rgba(17, 0, 0, 0.58);
  -webkit-box-shadow: -6px 15px 10px -12px rgba(17, 0, 0, 0.58);
  -moz-box-shadow: -6px 15px 10px -12px rgba(17, 0, 0, 0.58);
  z-index: 1000;
}

.drop-down__option {
  cursor: pointer;
  background-color: var(--primary-white-color-100);
}

.drop-down__option,
.drop-down__option--no-match {
  padding: 8px 16px;
}

.drop-down__option--no-match {
  background-color: var(--primary-red-color-100);
  color: var(--primary-white-color-100);
  cursor: not-allowed;
}

.drop-down__option:hover {
  transition: 0.3s;
  background-color: var(--primary-red-color-100);
  color: var(--primary-white-color-100);
}

.drop-down--text {
  font-size: 0.8rem;
}
