.drop-down {
    min-width: 200px;
    height: 48px;
    border: 1px black solid;
    padding: 16px;
}

.drop-down--invisible {
    display: none;
}

.drop-down--visible {
    display: block;
}

.drop-down:focus {
    outline: none;
}

