.body {
    display:grid;
    column-gap:16px;
    max-width:1096px; 
    margin: auto;
    grid-template-columns: minmax(816px, 1fr) 1fr;
    padding: 16px 0;
}


.content { 
    display:grid; 
    grid-template-columns: minmax(400px, 1fr) minmax(400px, 1fr);
    row-gap:16px;
    column-gap: 16px;
}

.books {
    background-color: red;
}