.paginator-container {
    display:flex;
    gap:8px;
}

.paginator-container__arrow {
    height: 48px;
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    cursor: pointer;
    border: 0;
    background-color: var(--primary-white-color-100);
}

.paginator-container__page
{
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    cursor: pointer;
    border: 0;
    background-color: var(--primary-white-color-100);
    color: var(--primary-gray-color-200)
}

.paginator-container__arrow:hover,
.paginator-container__page:hover{
     transition: 0.3s;
     background-color: #e1e1e1;
}

.paginator-container__image-container {
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.paginator-container__image {
    width: 24px;
    height: 24px;
}